<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SonoroJDF</title>
    <style>
      body{
        background-image: url("../Statics/imagenes/fondo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <script src="../Dynamics/JS/baseDeDatos.js"></script>
    <link  rel="stylesheet" href="../Statics/juego.css">
    <link rel="icon" href="../Statics/imagenes/SonoroJDF.png">
</head>
<body>
    <!--Nombre de la página-->
      <section id="sonoro">
        Sonoro JDF ⚝⭒
        <!--Barra de búsqueda-->
        <input type="text" id="barraBusqueda" placeholder="Canción del día   ☆">
      </section>
    <!--Barra de opciones-->
    <aside id="barraOpciones">
        <div>
            <h3 class="titulo">Explore</h3>
            <hr>
            <div id="home">
                <button class="selector" id="homebtn"><image class="iconoOpcion" id="homeImg" src="../Statics/imagenes/iconoHome.png"></image>  Home</button>
            </div>
        </div>
        <div id="bibliotecas">
            <button class="selector" id="bibliotecasbtn"><image class="iconoOpcion" id="bibliotecasImg" src="../Statics/imagenes/iconoBiblioteca.png"></image>  Bibliotecas</button>
            
            <div id="desplegaBiblio" >

                <div id="artDest">
                    <button class="selector" id="artDestbtn" style="display:none"><image class="iconoOpcion" id="ArtDestImg" src="../Statics/imagenes/iconoArtDest.png"></image>  Artistas Destacados</button>
                </div>

                <div id="generos">
                    <button class="selector" id="generosbtn" style="display:none"><image class="iconoOpcion" id="generosImg" src="../Statics/imagenes/iconoGeneros.png"></image>  Géneros</button>
                </div>

                <div id="albums">
                    <button class="selector" id="albumsbtn" style="display:none"><image class="iconoOpcion" id="albumsImg" src="../Statics/imagenes/iconoAlbums.png"></image>  Albums</button>
                </div>
            </div>    
        </div>

        <div id="listas">
            <button class="selector" id="listasbtn"><image class="iconoOpcion" id="listasImg" src="../Statics/imagenes/iconoListas.png"></image>  Listas</button>
        </div>

        <div id="tu">
            <button class="selector" id="tubtn"><image class="iconoOpcion" id="tuImg" src="../Statics/imagenes/iconoTu.png"></image>  Tú</button>
        </div>
           
    </aside>
    
    <!--Home-->
      <!--Artistas y albums-->
      <div id="artistas">
      </div>
      <div id="generosCont"></div>
   
</body>
    <script src="../Dynamics/JS/proyectoPagina.js"></script>
</html>