<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SonoroJDF</title>
    <style>
      body{
        background-image: url("../Statics/imagenes/fondo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <script src="../Dynamics/JS/baseDeDatos.js"></script>
    <link  rel="stylesheet" href="../Statics/juego.css">
    <link rel="icon" href="../Statics/imagenes/SonoroJDF.png">
</head>
<body>
    <!--Nombre de la página-->
      <section id="sonoro">
        <div id="sonoroT">Sonoro JDF ⚝⭒</div>
        <!--Barra de búsqueda-->
        <input type="text" class="barraBusqueda" placeholder="Canción del día   ☆">
      </section>
      <section id="palabraB" style="display:none" class="barraBusqueda"></section>
    <!--Barra de opciones-->
    <aside id="barraOpciones">
        <div>
            <h3 class="titulo">Explore</h3>
            <hr>
            <div id="home">
                <button class="selector" id="homebtn"><image class="iconoOpcion" id="homeImg" src="../Statics/imagenes/iconoHome.png"></image>  Home</button>
            </div>
        </div>
        <div id="bibliotecas">
            <button class="selector" id="bibliotecasbtn"><image class="iconoOpcion" id="bibliotecasImg" src="../Statics/imagenes/iconoBiblioteca.png"></image>  Bibliotecas</button>
            
            <div id="desplegaBiblio" >

                <div id="artDest">
                    <button class="selector" id="artDestbtn" style="display:none"><image class="iconoOpcion" id="ArtDestImg" src="../Statics/imagenes/iconoArtDest.png"></image>  Artistas Destacados</button>
                </div>

                <div id="generos">
                    <button class="selector" id="generosbtn" style="display:none"><image class="iconoOpcion" id="generosImg" src="../Statics/imagenes/iconoGeneros.png"></image>  Géneros</button>
                </div>

                <div id="albums">
                    <button class="selector" id="albumsbtn" style="display:none"><image class="iconoOpcion" id="albumsImg" src="../Statics/imagenes/iconoAlbums.png"></image>  Albums</button>
                </div>
            </div>    
        </div>

        <div id="listas">
            <button class="selector" id="listasbtn"><image class="iconoOpcion" id="listasImg" src="../Statics/imagenes/iconoListas.png"></image>  Listas</button>
        </div>

        <div id="tu">
            <button class="selector" id="tubtn"><image class="iconoOpcion" id="tuImg" src="../Statics/imagenes/iconoTu.png"></image>  Tú</button>
        </div>
           
    </aside>
    
    <!--Home-->
      <!--Artistas y albums-->
      <section class="artistasMenu" id="artistas">
        <div id="artistasMenuSec">
        <section id="sectionHome">
            <h4>¿Volver a escuchar?</h4>
        </section>

        <section id="sectionHome">
            <h4>Tus artistas fav.</h4>
            <section id="menuHome">
                <section class="artistHome">
                <h4>Adele</h4>
                <img id="imgHome" src="https://creativetalentbooking.com/wp-content/uploads/2023/02/Adelle.jpg">
                </section>
                <section class="artistHome">
                    <h4>BTS</h4>
                    <img id="imgHome" src="https://th.bing.com/th/id/OIP.LCphAr5S07jlyoo0BncFBAAAAA?rs=1&pid=ImgDetMain">
                </section>
                <section class="artistHome">
                    <h4>MARINA</h4>
                    <img id="imgHome" src="https://th.bing.com/th/id/OIP.bGNG9AusmKOp3m5znt7DQwAAAA?rs=1&pid=ImgDetMain">
                </section>
            </section>
        </section>

        <section id="sectionHome">
            <h4>Géneros preferidos</h4>
            <section id="menuHome">
                <section class="generalT">
                    <h4>Música electrónica</h4>
                </section>
                <section class="generalT">
                    <h4>Pop</h4>
                </section>  
                <section class="generalT">
                    <h4>Rock</h4>
                </section>
                <section class="generalT">
                    <h4>Hip hop</h4>
                </section>
                <section class="generalT">
                    <h4>R&B</h4>
                </section>
                <section class="generalT">
                    <h4>Country</h4>
                </section>
                <section class="generalT">
                    <h4>Jazz</h4>
                </section>
            </section>
        </section>

        <section id="sectionHome">
            <h4>Recomendado 𖤐</h4>
        </section>
      </div>
      </section>
      <!--Recuadro géneros-->
      <div id="generosCont"></div>
   
</body>
    <script src="../Dynamics/JS/proyectoPagina.js"></script>
</html>