@font-face{
    font-family: "fontEquipo7";
    src: url("../statics/Anak\ Paud.ttf");
}
@font-face{
    font-family: "integrantes";
    src: url("../Statics/SuperMario256.ttf");
}
body{
    background-color: rgb(195, 229, 255);
}
h1{color : black; font-family: "fontEquipo7"; font-size: 40px;}
h3{color : rgb(0, 0, 255); font-family: "integrantes";}
p{color : black; font-size : 15px ;font-family: "fontEquipo7"; }
#diego{color : rgb(47, 126, 47);}
#fatima{color : purple;}
#jorge{color : rgb(169, 169, 2);}
#mariano{color : orange;}